@model ChatViewModel
<div class="chat-container">
    <div class="sessions">
        <div class="sessions-header">
            <a asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-left"></i></a>
            <a asp-controller="Chat" asp-action="MakeSession"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
        <ul class="session-list">
            @if(Model.Sessions != null)
            @foreach(var item in Model.Sessions)
            {
                <li>
                    <div class="avatar"><img src="~/user.jpg" /></div>
                    <span class="user-name">@item.Name</span>
                    <span class="user-last-message">
                        Owner:
                        @(item.Users.FirstOrDefault(x=>x.Id == item.OwnerId)?.Name??"Not found")
                    </span>
                    <input type="hidden" value="@item.Id"/>
                </li>
            }

        </ul>
    </div>
    <div class="chat-dialog">
        <div class="chat-header">
            <div class="avatar">
                <img src="~/user.jpg" />
            </div>
            <div class="h-user-names">@Model.CurrentUser.Name</div>
        </div>
        <div class="chat-content">
@*             <div class="message self">
                <div class="text">
                    <h6>User 1</h6>
                    <span>Hello, World!</span>
                    <span class="date">17:30</span>
                </div>
            </div>
            <div class="message">
                <div class="text">
                    <h6>User 1</h6>
                    <span>Hello, World!</span>
                    <span class="date">17:30</span>
                </div>
            </div> *@
        </div>
        <div class="chat-control">
            <input type="text" id="message-field" placeholder="Enter message" />
            <button id="send"><i class="bi bi-send-fill"></i></button>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/webpack/index.js"></script>
}
