@model MakeSessionViewModel

<div class="container register flex-center">
    <div class="window">

        <h2>Make session<br />(채팅방 만들기)</h2>
        <a asp-action="Index" asp-controller="Chat">Back(뒤로)</a>
        <form asp-action="MakeSession" asp-controller="Chat" asp-anti-forgery="true">

            <div class="form-group-container">
                <div class="form-group">
                    <label asp-for="SessionName">Session name(채팅방 이름):</label>
                    <input type="text" asp-for="SessionName" placeholder="Session name" />
                    <span asp-validation-for="SessionName"></span>
                </div>
                <div class="form-group">
                    <button id="add-user" type="button">Add user</button>
                    <button id="remove-user" type="button">Remove user</button>
                </div>
                <div class="form-group users-group">
                    <div class="user number1">
                        <label><span>Username(사용자 이름) 1:</span><input name="UserNames[0]" placeholder="User name" /></label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Make" class="btn btn-outline-dark" />

                </div>

                <div class="validation" asp-validation-summary="ModelOnly"></div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/webpack/makeSession.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/webpack/css/form.css" />
}